<h1><a style="font-size: 20px" href="/">Paw-fect Match</a></h1>
<nav class="links">
    <ul>
        <% if(isLogined){ %>
        <li><a href="/profile">profile</a></li>
        <li><a href="/search">matching</a></li>
        <li><a href="/feedback">feedback</a></li>
        <li><a href="/message">message</a></li>
        <li><a href="/joinChat">chat</a></li>
        <li><a href="/usefulLink">useful link</a></li>
        <li><a href="/aboutUs">about us</a></li>
        <% }else{ %>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/usefulLink">useful link</a></li>
        <li><a href="/aboutUs">about us</a></li>
        <% } %>
    </ul>
</nav>
<nav class="main">
    <ul>
        <!--<li class="search">-->
        <!--<a class="fa-search" href="#search">Search</a>-->
        <!--<form id="search" method="get" action="#">-->
        <!--<input type="text" name="query" placeholder="Search"/>-->
        <!--</form>-->
        <!--</li>-->
        <li class="menu">
            <a class="fa-bars" href="#menu">Menu</a>
        </li>
    </ul>
</nav>