<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <% include ./partials/head %>
    </header>

    <!-- Menu -->
    <section id="menu">
        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Sample</h3>
                        <p>Sample Test</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <% if(isLogined){ %>
            <form id="formLogout" action="logout" method="post">
                <ul class="actions vertical">
                    <li><a class="button big fit" onclick="document.getElementById('formLogout').submit();">Log Out</a></li>
                </ul>
            </form>
            <% }else{ %>

            <form id="formLogin" action="login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </form>

            <ul class="actions vertical">
                <li><a class="button big fit" id="startLogin" onclick="document.getElementById('formLogin').submit();">Log In</a></li>
            </ul>
            <!--<ul class="actions vertical">-->
            <!--<li><a href="#" class="button big fit">Sing In</a></li>-->
            <!--</ul>-->
            <% } %>
        </section>

    </section>

    <!-- Main -->
    <div id="main">
    <h4>Mission</h4>
        <p style="font-size: 25px">The majority of pet owners have only one pet. As a logical consequence, many pets feel lonely. On the
            other hand, many videos show the excitements of pets when they meet other pets. As pet lovers, we decide to develop 'Animal Tinder',
            a pet dating platform to alleviate the issue highlighed above. Our final goal is helping every pets to find their companion by our website.</p>
    <h4>Messages from developers</h4>
        <p style="font-size: 25px">First of all, welcome to our website. This is the first pet dating platform in the entire world. You
            can find a 'paw-fect match' for your pets and also exchange your thoughts on feeding pets here. We are doing it because we
            care about and respect the rights of pets like you do. So, join us now so that your pets are not alone again. Finally, we
            hope that you can enjoy using 'Animal Tinder' and wish you a good time with your pets.</p>
    <h4>Contact us</h4>
        <p style="font-size: 25px">Address: The Chinese University of Hong Kong, Shatin N.T. Hong Kong
        <br>
        Email: abc@yahoo.com.hk
        <br>
        Tel.: (852)13579246</p>
    </div>

</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>