<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <h1><a href="/">Animal Tinder</a></h1>
        <nav class="links">
            <ul>
                <% if(isLogined){ %>
                <li><a href="/profile">profile</a></li>
                <li><a href="/search">matching</a></li>
                <li><a href="/feedback">feedback</a></li>
                <li><a href="#">useful link</a></li>
                <li><a href="#">about us</a></li>
                <% }else{ %>
                <li><a href="/signin">Sign in</a></li>
                <% } %>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <!--<li class="search">-->
                <!--<a class="fa-search" href="#search">Search</a>-->
                <!--<form id="search" method="get" action="#">-->
                <!--<input type="text" name="query" placeholder="Search"/>-->
                <!--</form>-->
                <!--</li>-->
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">
        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Sample</h3>
                        <p>Sample Test</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <% if(isLogined){ %>
            <ul class="actions vertical">
                <li><a href="#" class="button big fit">Log Out</a></li>
            </ul>
            <% }else{ %>
            <ul class="actions vertical">
                <li><a href="login" class="button big fit">Log In</a></li>
            </ul>
            <!--<ul class="actions vertical">-->
            <!--<li><a href="#" class="button big fit">Sing In</a></li>-->
            <!--</ul>-->
            <% } %>
        </section>

    </section>

    <!-- Main -->
    <div id="main">

        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Feedback</label>
                <textarea class="form-control" id="text" rows="3"></textarea>
            </div>
            <div class="alert alert-danger" role="alert" id="status" style="display: none">
            </div>
            <div class="alert alert-success" role="alert" id="status2" style="display: none">
                This is a success alert—check it out!
            </div>
            <button type="button" onclick="Mail()">Submit</button>
        </form>


    </div>
</div>

<!-- Scripts -->

<script>
    function Mail() {
        var text = document.getElementById("text");
        var status = document.getElementById("status");
        var status2 = document.getElementById("status2");
        var words = text.value;
        var rude = "fuck";
        if (words == "") {
            status2.style.display='none';
            status.innerHTML = "Oops. You submitted a blank feedback. Please enter again!";
            status.style.display='block';
        }
        else {
            if (words.search(rude) != -1) {
                status.innerHTML = "Wow! Mind your language! Be polite!";
                text.value = "";
                status.style.display='block';
            }
            else {
                window.location.href = "mailto:alvin2b35@yahoo.com.hk?subject=%5BPaw%2Dfect%20Match%5D%20Feedback&body=" + words;
                status2.innerHTML = "One more step! Thank you for your support!";
                status2.style.display='block';
                status.style.display='none';
                text.value = "";
            }
        }
    }

    // text.oninput = function(){
    //     status.innerHTML = text.value;
    //}
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>