<div id="main">
    <div id="header">
        <div id="logo">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="index.html">simple<span class="logo_colour">Paw-fect Match</span></a></h1>
            <h2>Search. Match. Journey.</h2>
        </div>
        <div id="menubar">
            <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li class="selected"><a href="/users/home">Home-test</a></li>
                <li><a href="/users/home">Examples-test</a></li>
                <li><a href="/users/home">A Page-test</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
            </ul>
        </div>
    </div>
    <div id="site_content">
        <div class="sidebar">
            <h1>Latest News</h1>
            <h4>New Website Launched</h4>
            <h5>March 18th, 2018</h5>
            <p>Random words here.<br /><a href="#">Read more-test</a></p>
            <h1>Useful Links</h1>
            <ul>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link 2</a></li>
                <li><a href="#">link 3</a></li>
                <li><a href="#">link 4</a></li>
            </ul>
            <h1>Search</h1>
            <form method="post" action="#" id="search_form">
                <p>
                    <input class="search" type="text" name="search_field" value="Enter keywords....." />
                    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
                </p>
            </form>
        </div>
        <div id="content">
            <h1>Welcome to Paw-fect Match</h1>
            <p>xxxxxxxxxxxxxxxxxxxx</p>
            <p>aaaaaaaaaaaaaaaaaaaaaa</p>
            <p>bbbbbbbbbbbbbbbbbbbbbbbb</p>
            <p>cccccccccccccccccccccccccccc</p>
            <h2>Second Header</h2>
            <p>This website has been tested in the following browsers:</p>
            <ul>
                <li>Internet Explorer</li>
                <li>FireFox</li>
                <li>Google Chrome</li>
            </ul>
        </div>
    </div>
    <div id="footer">
        <p><a href="/users/home">Home</a> | <a href="/users/home">Examples</a> | <a href="/users/login">Login</a> | <a href="/users/register">Register</a> | <a href="#">Contact Us</a></p>
        <p>Copyright &copy; CSCI-3100</p>
    </div>
</div>