<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/">Animal Tinder</a></h1>
        <nav class="links">
            <ul>
                <% if(isLogined){ %>
                <li><a href="/profile">profile</a></li>
                <li><a href="/search">matching</a></li>
                <li><a href="/feedback">feedback</a></li>
                <li><a href="/message">message</a></li>
                <li><a href="/usefulLink">useful link</a></li>
                <li><a href="/aboutUs">about us</a></li>
                <% }else{ %>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/usefulLink">useful link</a></li>
                <li><a href="/aboutUs">about us</a></li>
                <% } %>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <!--<li class="search">-->
                <!--<a class="fa-search" href="#search">Search</a>-->
                <!--<form id="search" method="get" action="#">-->
                <!--<input type="text" name="query" placeholder="Search"/>-->
                <!--</form>-->
                <!--</li>-->
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">
        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Sample</h3>
                        <p>Sample Test</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <% if(isLogined){ %>
            <form id="formLogout" action="logout" method="post">
            <ul class="actions vertical">
                <li><a class="button big fit" onclick="document.getElementById('formLogout').submit();">Log Out</a></li>
            </ul>
            </form>
            <% }else{ %>

            <form id="formLogin" action="login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </form>

            <ul class="actions vertical">
                <li><a class="button big fit" id="startLogin" onclick="document.getElementById('formLogin').submit();">Log In</a></li>
            </ul>
            <!--<ul class="actions vertical">-->
            <!--<li><a href="#" class="button big fit">Sing In</a></li>-->
            <!--</ul>-->
            <% } %>
        </section>

    </section>

    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">Northumberland care home residents knit woolly jumpers for lambs</a></h2>
                    <p>Woolly jumpers keep lambs warm</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2018-03-25">March 23, 2018</time>
                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg"
                                                                                      alt=""/></a>
                </div>
            </header>
            <iframe width="560" height="315" align="middle" src="https://www.youtube.com/embed/ABoaPWjKsZQ"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p>Residents from a Knit and Natter group at Scarbrough Court care home in Cramlington decided to try their
                hand at knitting something a bit different.
                The group made jumpers for the newborn lambs at Whitehouse Farm, near Morpeth, Northumberland, to help
                keep them warm.
                As well as helping the animals, a visit to the farm for the residents also helped with their health and
                wellbeing.</p>
            <footer>
                <ul class="actions">
                    <li>
                        <a href="http://www.bbc.com/news/av/uk-england-tyne-43604498/northumberland-care-home-residents-knit-woolly-jumpers-for-lambs?intlink_from_url=http%3A%2F%2Fwww.bbc.com%2Fnews%2Ftopics%2Fclm1wxp533pt%2Fanimals&link_location=live-reporting-map"
                           class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>

        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">Cat survives road trip under car bonnet</a></h2>
                    <p>A cat that crawled under the bonnet of her owner's car has survived a 30-mile (50-km) road trip
                        across County Donegal.</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2018-03-20">March 20, 2018</time>
                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg"
                                                                                      alt=""/></a>
                </div>
            </header>
            <a href="#" class="image featured" style="height:70%;width:70%;"><img
                        src="https://ichef-1.bbci.co.uk/news/660/cpsprodpb/120E/production/_100622640_img-20180329-wa0000.jpg"
                        alt=""/></a>
            <p>Five-month-old Nova was discovered by mechanics when her owner dropped the car off at a garage in
                Letterkenny - an hour's drive from its home in Annagry.
                Owner Majella McBride said despite the ordeal, Nova was uninjured and unscathed.
                "One of the nine lives is definitely gone," she said.
                "We are all delighted Nova is none the worse for wear," Mrs McBride told BBC News NI.
                "She's my daughter's cat and she would have murdered me if I had killed the cat."
                Nova, who had been neutered on Monday, was being kept inside the family home as per the instructions of
                the vet.
                "But somehow she was able to get out and I just thought she was hiding up in the shed," said Mrs
                McBride.</p>
            <footer>
                <ul class="actions">
                    <li><a href="http://www.bbc.com/news/uk-northern-ireland-foyle-west-43585644" class="button big">Continue
                            Reading</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>

        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">How to Add Years to Your Pet's Life</a></h2>
                    <p>Anyone who has ever had a dog or cat wishes just one thing — that he or she has a healthy and
                        long life. Here are five tips that can help your pet do just that.</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2017-11-22">November 22, 2017</time>
                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg"
                                                                                      alt=""/></a>
                </div>
            </header>
            <a href="#" class="image featured" style="height:50%;width:50%;"><img
                        src="https://www.petmd.com/sites/default/files/dog-kiss-shutterstock_94004587.jpg" alt=""/></a>
            <p>Pets fed a high quality diet have a shiny hair coat, healthy skin, and bright eyes.
                A good diet can help strengthen your pet’s immune system, help maintain his or her intestinal health,
                help increase his or her mental acuity,
                help keep joints and muscles healthy, and much more...</p>
            <footer>
                <ul class="actions">
                    <li><a href="https://www.petmd.com/dog/care/evr_multi_life-lengthening_pet_health_tips"
                           class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>

        <!-- Pagination -->
        <ul class="actions pagination">
            <li><a href="" class="disabled button big previous">Previous Page</a></li>
            <li><a href="#" class="button big next">Next Page</a></li>
        </ul>

    </div>

    <!-- Sidebar -->
    <section id="sidebar">
        <!-- About -->
        <section class="blurb">
            <h2>About</h2>
            <p>Paw-fect Match is an animal dating platform that mainly focuses on dogs and cats.  It allows users to match and search friends for their pets and sharing stories and thoughts with other pet owners.</p>
            <!--<ul class="actions">-->
            <!--<li><a href="#" class="button">Learn More</a></li>-->
            <!--</ul>-->
        </section>

        <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/?lang=zh-tw" class="fa-twitter"><span class="label">Twitter</span></a>
                </li>
                <li><a href="https://zh-hk.facebook.com/" class="fa-facebook"><span class="label">Facebook</span></a>
                </li>
                <li><a href="https://www.instagram.com/" class="fa-instagram"><span class="label">Instagram</span></a>
                </li>
                <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy;CSCI3100 - 2017 - 2018</p>
        </section>

    </section>

</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script>
    function login(){
        var x = document.getElementById("startLogin");

    }
</script>
</body>
</html>