doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
    h1= title
    p Welcome to #{title}
    div
        //button(onclick="javascript:location.href='/login'") Login
        button(onclick="javascript:location.href='/logout'") Logout
        button(onclick="javascript:location.href='/register'") Register
        button(onclick="javascript:location.href='/feedback'") Feedback