<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join | Paw-fect Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/css/chatStyles.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body class="centered-form">
    <header id="header">
        <% include ./partials/head %>
    </header>

    <div class="centered-form__form">
        <form action="/chat">
            <div class="form-field">
                <h3>Paw-fect chat</h3>
            </div>
            <div class="form-field">
                <label style="font-family: Courier New">Display name</label>
                <input type="text" name="name" autofocus/>
            </div>
            <div class="form-field">
                <label style="font-family: Courier New">Room name</label>
                <input type="text" name="room"/>
            </div>
            <div class="form-field">
                <button>Join</button>
            </div>
        </form>
    </div>
</body>
</html>