<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join | Paw-fect Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/css/chatStyles.css">   
</head>
<body class="centered-form">
    <div class="centered-form__form">
        <form action="/chat">
            <div class="form-field">
                <h3>Paw-fect chat</h3>
            </div>
            <div class="form-field">
                <label style="font-family: Courier New">Display name</label>
                <input type="text" name="name" autofocus/>
            </div>
            <div class="form-field">
                <label style="font-family: Courier New">Room name</label>
                <input type="text" name="room"/>
            </div>
            <div class="form-field">
                <button>Join</button>
            </div>
        </form>
    </div>
</body>
</html>