<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join | Paw-fect Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/css/chatStyles.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body class="centered-form">
    <header id="header">
        <% include ./partials/head %>
    </header>

    <!-- Menu -->
    <section id="menu">
        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Sample</h3>
                        <p>Sample Test</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <% if(isLogined){ %>
            <form id="formLogout" action="logout" method="post">
                <ul class="actions vertical">
                    <li><a class="button big fit" onclick="document.getElementById('formLogout').submit();">Log Out</a></li>
                </ul>
            </form>
            <% }else{ %>

            <form id="formLogin" action="login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </form>

            <ul class="actions vertical">
                <li><a class="button big fit" id="startLogin" onclick="document.getElementById('formLogin').submit();">Log In</a></li>
            </ul>
            <!--<ul class="actions vertical">-->
            <!--<li><a href="#" class="button big fit">Sing In</a></li>-->
            <!--</ul>-->
            <% } %>
        </section>

    </section>
    <div class="centered-form__form">
        <form action="/chat">
            <div class="form-field">
                <h3>Paw-fect chat</h3>
            </div>
            <div class="form-field">
                <label style="font-family: Courier New">Display name</label>
                <input type="text" name="name" autofocus/>
            </div>
            <div class="form-field">
                <label style="font-family: Courier New">Room name</label>
                <input type="text" name="room"/>
            </div>
            <div class="form-field">
                <button>Join</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>