doctype html
html
    head
        title=Login
        link(rel='icon', href='/login_img/images/icon/favicon.ico')
        link(rel='stylesheet', href='/fonts/login_font/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='javascripts/login_javascript/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='javascripts/login_javascript/select2/select2.min.css')
        link(rel='stylesheet', href='javascripts/login_javascript/animate/animate.css')
        link(rel='stylesheet', href='javascripts/login_javascript/css-hamburgers/hamburgers.min.css')
        link(rel='stylesheet', href='/stylesheets/login_css/main.css')
        link(rel='stylesheet', href='/stylesheets/login_css/util.css')
        body
            div.limiter
                div.container-login100
                    div.wrap-login100
                        div.login100-pic.js-tilt(data-tilt)
                            img(src="/images/login_img/img-01.png")
                        form.login100-form.validate-form
                            span.login100-form-title Member Login
                            div.wrap-input100.validata-input(data-validate = "Valid email is requires: ")
                                input.input100(type="text",name="email",placeholder="Email")
                                span.focus-input100
                                span.symbol-input100
                                    i.fa.fa-lock(aria-hidden="true")
                            div.wrap-input100.validate-input(data-validate = "Password is required")
                                input.input100(type="password",name="pass",placeholder="Password")
                                span.focus-input100
                                span.symbol-input100
                                    i.fa.fa-lock(aria-hidden="true")
                            div.container-login100-form-btn
                                button.login100-form-btn Login
                            div.text-center.p-t-12
                                span.txt1 Forgot
                                a.txt2(href="#") Username / Password

                            div.text-center.p-t-136
                                a.txt2(href="#") Create your Account
                                i.fa.fa-long-arrow-right.m-1-5(aria-hidden="true")

        script(src="/javascripts/login_javascript/jquery/jquery-3.2.1.min.js")
        script(src="/javascripts/login_javascript/bootstrap/kelvin_js/popper.js")
        script(src="/javascripts/login_javascript/bootstrap/kelvin_js/bootstrap.min.js")
        script(src="/javascripts/login_javascript/select2/select2.min.js")
        script(src="/javascripts/login_javascript/tilt/tilt.jquery.min.js")
        script(src="/javascripts/login_javascript/main.js")