<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Wrapper -->
<% if(isLogined == false) { %>
<% res.redirect('/'); %>
<% } %>
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/">Animal Tinder</a></h1>
        <nav class="links">
            <ul>
                <% if(isLogined){ %>
                <li><a href="/profile">profile</a></li>
                <li><a href="/search">matching</a></li>
                <li><a href="/feedback">feedback</a></li>
                <li><a href="/message">message</a></li>
                <li><a href="#">useful link</a></li>
                <li><a href="#">about us</a></li>
                <% }else{ %>
                <li><a href="/signin">Sign in</a></li>
                <li><a href="#">useful link</a></li>
                <li><a href="#">about us</a></li>
                <% } %>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <!--<li class="search">-->
                <!--<a class="fa-search" href="#search">Search</a>-->
                <!--<form id="search" method="get" action="#">-->
                <!--<input type="text" name="query" placeholder="Search"/>-->
                <!--</form>-->
                <!--</li>-->
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">
        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Sample</h3>
                        <p>Sample Test</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <% if(isLogined){ %>
            <form id="formLogout" action="logout" method="post">
                <ul class="actions vertical">
                    <li><a class="button big fit" onclick="document.getElementById('formLogout').submit();">Log Out</a>
                    </li>
                </ul>
            </form>
            <% }else{ %>

            <form id="formLogin" action="login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                           placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </form>

            <ul class="actions vertical">
                <li><a class="button big fit" id="startLogin" onclick="document.getElementById('formLogin').submit();">Log
                        In</a></li>
            </ul>
            <!--<ul class="actions vertical">-->
            <!--<li><a href="#" class="button big fit">Sing In</a></li>-->
            <!--</ul>-->
            <% } %>
        </section>

    </section>

    <!-- Main -->
    <div id="main">
        <ul class="list-group list-group-flush">
            <% if(message == false){ %>
            <div>
                <span class="badge badge-warning">Message: 0</span>
            </div>
            <% }else{ %>
            <div>
                <span class="badge badge-warning">Message: <%= messagesize %></span>
            </div>
            <% for(var i = 0;i < messagesize;i++){ %>
            <li class="list-group-item">
                <div class="card">
                    <div class="card-header">
                        <% if(allmessage[i].readornot == 0){ %>
                        <span class="badge badge-success">unseen</span>
                        <% }else{ %>
                        <span class="badge badge-dark">seen</span>
                        <% } %>
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active">From: <%= allmessage[i].form %> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Date: <%= allmessage[i].submittime %></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><%= allmessage[i].content %></p>
                        <span class="badge badge-light"><a>Mark as read</a></span>
                    </div>
                </div>
            </li>
            <% } %>
            <% } %>
        </ul>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script>
    function login() {
        var x = document.getElementById("startLogin");
    }
</script>
</body>
</html>