<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style2.css" />
</head>
<style>
    input{
        border: none;
        background-color: transparent;
    }
</style>
<body bgcolor = #f5deb3  onload = "Display()">

<h1>User Profile</h1>
    Username: <input type = "text" id = "username">
    Email: <input type = "text" id = "email"><br><br>
    Pet's name: <input type = "text" id = "pet_name">
    Types of pets:<select name="Types of pet" id = "pet_type">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
    </select><br><br>
    Pet's age: <input type = "text" id = "pet_age">
    Pet's gender:<select name="Gender of pet" id = "pet_gender">
        <option value="m">M</option>
        <option value="f">F</option>
    </select><br><br>
    Pet's description:<br><br>
    <textarea rows = "10" cols = "130" id = "pet_description"></textarea>
    <br><br>
    <button type = "button" id = "edit" onclick = "Edit()">Edit</button>
    <button type = "button" style = "visibility:hidden" id = "submit" onclick = "Save()">Submit</button>


<script>
    function Display(){
        document.getElementById("username").value = "HHH";
        document.getElementById("email").value = "abc@y";

    }
    function Edit(){
        var edit = document.getElementById("edit");
        var submit = document.getElementById("submit");
        document.getElementById("edit").style.visibility = "hidden";
        document.getElementById("submit").style.visibility = "visible";
    }

    function Save(){
        var username = document.getElementById("username");
        var edit = document.getElementById("edit");
        var submit = document.getElementById("submit");
        username.style.backgroundColor = "transparent";
        username.style.border = "none";
        edit.style.visibility = "visible";
        submit.style.visibility = "hidden";
    }

</script>
</body>
</html>