<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style2.css" />

    <style>

        .item2 { grid-area: menu; }
        .item3 { grid-area: main; }
        .w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

        .grid-container {
            display: grid;
            grid-template-areas:
                    'menu main main main main main main main'
                    'menu main main main main main main main'
                    'menu main main main main main main main';
            grid-gap: 10px;
            background-color: grey;
            padding: 10px;
            height: 500px;

        }
        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: left;
            padding: 20px 20px;
            font-size: 20px;
            height: 480px;

        }

    </style>
</head>
<body>

<h1>Searching and Matching</h1>

<div class="container">

    <div class="grid-container">

        <div class="item2">
            <form method="POST" action="/pets/add">
                <label>Type of pets</label>
                <br>
                <select name="types_of_pet">
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                </select>
                <br>
                <label>Gender</label>
                <br>
                <input type="radio" name="gender" value="m" checked> Male<br>
                <input type="radio" name="gender" value="f"> Female<br>

                <label>Pets' years_old</label>
                <br>
                <br>
                <input type="range" name="years_old" min="1" max="8" value="8" id="myRange" >
                <br>
                <p>Under <span id="demo"></span> years_old</p>
                <br>
                <input type="submit" value="Filter">
            </form>
        </div>
        <div class="item3 w3-animate-opacity">
            <h3>Pet list</h3>
            <ul>

                <% pets.forEach(function(pets, search){ %>
                <% if(pets.types_of_pet == types_of_pet && pets.gender == gender && pets.years_old < years_old) {%>
                <li style="list-style-type:circle">Name:     <%= pets.name %></li>
                <li style="list-style-type:none">Type:     <%= pets.types_of_pet %></li>
                <li style="list-style-type:none">Gender:     <%= pets.gender %></li>
                <li style="list-style-type:none">Years_old:      <%= pets.years_old %></li>
                <br>
                <% } %>
                <%  }) %>

            </ul>

        </div>
    </div>
</div>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>

</body>
</html>
