extends trash_plain
block head
    script(src="https://code.jquery.com/jquery-3.3.1.min.js",
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",
    crossorigin="anonymous")

block content
    h1= title
    p     That is what I can do in learning nodeJs for a day.
        |Feel free to write any feedbacks. Thank you!
    input#input(type="text", placeholder="Enter text")
    ul#results
    script(src="javascripts/feedback_plain_javascript/repeat.js")